.Formulario__Principal textarea{
    resize: none;
    height: 105px;
}


.Formulario__Principal input[type="radio"]:not(first-child){
  
  width: 30px;

}
.Status span{
    padding-left: 0.2em;
    font-size:1.3em;
}

.Status{
    margin-bottom: 1em;
}

